:root{
    --very-dark-gray: hsl(0, 0%, 17%);
    --dark-gray: hsl(0, 0%, 59%);
    --white: hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
}

body{
    font-family: "Rubik", sans-serif;
    margin: 0; 
    height: 100%; 
    overflow: hidden;
}

.info-container{
    position: absolute;
    /* border: 1px dotted red; */
    width: 70vw;
    margin-left: 15%;
    margin-top: 1em;
    z-index: 2;
    height: 40%;
}

.info-container H1{
    color: var(--white);
    margin-top: 0;
    margin-bottom: 1em;
    text-align: center;
    font-weight: 400;
}
#map { 
    height: 360px;
    position: relative;
    z-index: -2;
 }

.top-background{
   background-image: url(/images/pattern-bg-desktop.png);
   height: 200px;
   position: relative;
   z-index: -1;
}

.search-container{
    margin-top: -1em;
    margin-bottom: 1.5em;
    margin-left: 23%;
    text-align: center;
    width: 55%;
    display:flex;
    /* border: 1px dotted red; */
}

.search-container #search{
    border-radius: 10px 0 0 10px;
    border: none;
    padding: 1em;
    width:90%;
}

.search-container #search-button{
    border-radius: 0 10px 10px 0;
    border: none;
    background-color: var(--very-dark-gray);
    padding: 1em;
    width:10%;
}

.location-container{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--white);
    border-radius: 10px;
    padding: 1.5em;
    height:auto;
}

.location-container .data-display {
   display: flex;
   flex-direction: column;
}

.location-container .data-title {
    color: var(--dark-gray);
    font-size: .8rem;
    font-weight: 500;
 }

.location-container .vertical-line{
    border-left: 1.5px solid var(--dark-gray);
    opacity: 70%;
    margin-left: .5em;
    margin-right: .5em;
}

.location-container .data-display .data{
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--very-dark-gray);
}

@media screen and (max-width: 800px){
    .location-container{
        flex-direction: column;
        text-align: center;

    }
.location-container .data-display:not(:last-child){
   margin-bottom: 1em;
}
    .location-container .vertical-line{
        display: none;
    }
}